# Server Configuration
AUTH_TOKEN=projectsarah
SMTP_HOST=smtp.office365.com
SMTP_PORT=587
SMTP_SECURE=false
SMTP_USER=
SMTP_PASS=
TELEGRAM_BOT_TOKEN=
TELEGRAM_CHAT_ID=
ENCRYPTION_KEY=a3f91b6cd024e8c29b76a149efcc5d42
APP_URL=
